
/*

Kids story

---------------------------------------------
Table of contents
---------------------------------------------
01. root
02. reset
03. global styles
04. preloader
05. header
06. welcome
07. features
08. contacts banner
09. extra services
10. video gallery
10. advantages
11. command gallery
12. contacts banner
13. about
14. feedbacks
15. location
16. footer
--------------------------------------------- 
*/


/* 
---------------------------------------------
reset
--------------------------------------------- 
*/   


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


$basic_color: #8081BD;
$basic_yellow: #FDDC4E;
$basic_red: #EA5D4A;
$text_color: #334155;
$white_color: #fff;

* {
   /*Reset's every elements apperance*/
   border-spacing: 0;
   font-style: normal;
   list-style: none outside none;
   margin: 0;
   padding: 0;
   text-decoration: none;
   text-indent: 0;
   box-sizing: border-box;
}

:root{
--data-color-basic_color: #{$basic_color};
--data-color-basic_yellow: #{$basic_yellow};
--data-color-basic_red: #{$basic_red};
--data-color-text_color: #{$text_color};

}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}
html,
body {
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   background-color: $white_color;
   font-size: 16px;
   /* background-image: url("../images/icons/Vectoraq.png"), url("../images/icons/Groupugr7.png"), url("../images/icons/Vectordsdsd.png"); */
   background-repeat: no-repeat;
   background-position: bottom right, 0 45%, 50% 45.5%;
   background-size: auto, auto, 100%;
}
.section{
   width: 100%;
   margin: 3.75em auto;
   border-radius: 20px;
}
.container-fluid{
   max-width: 100%;
   padding: 0;
}
h1{
   font-size: 6rem;
   line-height: 117px;
   font-weight: 700;
}
h2{
   font-size: 2.5rem;
   line-height: 49px;
   font-weight: 700;
}
h3{
   font-size: 2.25rem;
   line-height: 44px;
   font-weight: 600;
}
h4{
   font-size: 2rem;
   line-height: 39px;
   font-weight: 700;
}
h5{
   font-size: 1.25rem;
   line-height: 24px;
   font-weight: 500;
}
h6{
   font-size: 0.875rem;
   line-height: 17px;
   font-weight: 600;
}

p, .copyright {
   font-weight: 500;
   font-size: 1.25rem;
   line-height: 24px;
}
a {
   text-decoration: none!important;
   padding: 0;
}
ul, li{
   padding:0;
}
.breadcrumb{
   margin: 0!important;
}
.breadcrumb__list{
   align-items: center!important;
}


.submit__btn{
   width: 100%;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
}
::-webkit-scrollbar {
   display: block;
}
::selection, ::-moz-selection  {
   background: $basic_red; //iwlamadi
   color: $white_color;
}
label{
   margin: 1.5em 0 1.1875em; 
   color: $white_color;
   font-weight: 600;
   font-size: 10px;
   line-height: 12px;
}
input{
   max-width: 308px;
   width: 100%;
   height: 40px;
   padding: 14px 20px;
   background: $white_color;
   caret-color: var(--basic_color);
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 10px;
   line-height: 12px;
   color: var(--text_color);
}
input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
::marker{
   color: $basic_red;
}

   /* 
   ---------------------------------------------
   global styles
   --------------------------------------------- 
   */
   
   /* PRELOADDER SECTION STYLE START*/
   /* #preloader {
      overflow: hidden;
      background-image: linear-gradient(145deg, rgba(128, 129, 189, 1), rgba(128, 129, 189, 1));
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: fixed;
      z-index: 9999;
      color: #fff;
   }
   
   #preloader .jumper {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      position: absolute;
      margin: auto;
      width: 50px;
      height: 50px;
   }
   
   #preloader .jumper > div {
      background-color: #fff;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      position: absolute;
      opacity: 0;
      width: 50px;
      height: 50px;
      -webkit-animation: jumper 1s 0s linear infinite;
      animation: jumper 1s 0s linear infinite;
   }
   
   #preloader .jumper > div:nth-child(2) {
      -webkit-animation-delay: 0.33333s;
      animation-delay: 0.33333s;
   }
   
   #preloader .jumper > div:nth-child(3) {
      -webkit-animation-delay: 0.66666s;
      animation-delay: 0.66666s;
   }
   
   @-webkit-keyframes jumper {
      0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      }
      5% {
      opacity: 1;
      }
      100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
      }
   }
   
   @keyframes jumper {
      0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      }
      5% {
      opacity: 1;
      }
      100% {
      opacity: 0;
      }
   } */
/*PRELOADDER SECTION STYLE END */



   /*HEADER SECTION STYLE START*/
   .app__header{
      background-color: $white_color;
      position: sticky;
      top: 0px; /*TOP: 0; BOLSA IWLAMIYDI, TOP: 0PX; BOLSA IWLAYDI*/
      z-index: 5;
      .app__header__top{
         padding: 1.0625em 0;
         .address__link{
            float: right;
         }
      }
      .app__header__bottom{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         gap: 30px;
         .mega__menu{
            max-width: 520px;
            .navbar-nav {
               display: flex;
               flex-wrap: wrap;
               flex-direction: row;
               justify-content: center;
               gap: 20px;
               li{
                  
                  ::after{
                     display: none;
                  }
                  .exit__btn{
                     display: none;
                  }
                  &.nav__social{
                     display: none;
                  }
                  .contact__number{
                     display: none;
                  }
                  .btn{
                     display: none;
                  }
                  &.nav-item{
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     cursor: pointer;
                     .nav-link{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        padding: 0;
                        color: $text_color;
                     }
                     &:active{
                        color: $basic_color;
                        transition-property: all;
                        transition-timing-function: linear;
                        transition-duration: 0.3s;
                        .nav-link{
                           color: $basic_color;
                        }
                        .fa-angle-down{
                           @extend %down-icon;
                        }
                     }
                     &:focus{
                        color: $basic_color;
                        transition-property: all;
                        transition-timing-function: linear;
                        transition-duration: 0.3s;
                        .nav-link{
                           color: $basic_color;
                        }
                        .fa-angle-down{
                           @extend %down-icon;
                        }
                     }
                     &:hover{
                        color: $basic_color;
                        transition-property: all;
                        transition-timing-function: linear;
                        transition-duration: 0.3s;
                        .nav-link{
                           color: $basic_color;
                        }
                        .fa-angle-down{
                           @extend %down-icon;
                        }
                     }
                     .dropdown-menu{
                        min-width: 200px;
                        padding: 16px;
                        background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 80%);
                        position: absolute;
                        top: 130%;
                        z-index: 7;
                        border-radius: 10px;
                        .dropdown-item{
                           padding: 0;
                           align-items: start;
                           color: $white_color;
                              &:active{
                                 color: $basic_red;
                                 background-color: transparent;
                              }
                              &:hover{
                                 color: $basic_red;
                                 background-color: transparent;
                              }
                              &:focus{
                                 color: $basic_red;
                                 background-color: transparent;
                              }
                        }
                     }
                  }
               }
               
            }
         }

         .nav__social{
            display: flex;
         }
         .contact__number{
            display: flex;
         }
         .btn{
            @extend %btn;
            display: initial;
         }
         .navbar-toggler{
            display: none;
         }
      }
   }

   @keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-moz-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-o-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-ms-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   /*HEADER SECTION STYLE END*/
   
   /*NAVBAR SECTION STYLE START*/
   .nav__menu{
      align-items: center;
      gap: 4.375em;
      animation-timing-function: linear;
      animation: fadeIn ease 0.7s;
      -webkit-animation: fadeIn ease 0.7s;
      -moz-animation: fadeIn ease 0.7s;
      -o-animation: fadeIn ease 0.7s;
      -ms-animation: fadeIn ease 0.7s;
      display: none;
      width: 100%;
      background: linear-gradient(130.83deg, rgba(83, 84, 136, 0.8) 14.95%, rgba(96, 97, 157, 0.8) 79.77%);
      padding: 1.6875em 0;
      -webkit-animation: fadeIn ease 0.7s;
      .nav-item{
         font-weight: 600;
         font-size: 1.25rem;
         line-height: 1.5em;
         .nav-link{
            padding: 0;
            color: $white_color;
            .active{
               color: $basic_red;
            }
            &:hover{
               color: $basic_red;
            }
            &:hover{
               color: $basic_red;
            }
         }
         
      }
   }
   /*NAVBAR SECTION STYLE END*/


   .address__link{
      font-weight: 600!important;
      font-size: 12px;
      line-height: 15px;
      color: $basic_color;
      :hover{
         color: $basic_red;
      }
      span{
         color: rgba(14, 149, 211, 1);
      }
   }
   .contact__number{
      width: fit-content;
      font-weight: 400;
      font-size: 20px;
      line-height: 19px;
      display: flex;
      align-items: end;
      flex-direction: column;
      column-gap: 0.375em;
      row-gap: 4px;
      font-family: 'Gotham Pro';
      color: $text_color;
      &:hover{
         color: $text_color;
      }
      span{
         font-weight: 700;
         font-size: 10px;
         line-height: 0.75em;
         color: $basic_red;
      }
   }
   .nav__social{
      display: flex;
      gap: 24px;
      a{
         font-size: 24px;
         color: $basic_red;
         &:hover{
            color: $basic_red;
         }
      }
   }
   %btn{
      width: fit-content;
      height: 40px;
      padding: 11px 12px 14px;
      background: $basic_color;
      color: $white_color;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      border-radius: 50px;
      cursor: pointer;
      text-align: center;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
   }
   %down-icon{
      transition-property: all;
      transition-timing-function: linear;
      transition-duration: 0.3s;
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -ms-transform:rotate(180deg);
      -o-transform:rotate(180deg);
   }



      
@media (min-width: 0) and (max-width: 579.99px){
   .container-fluid {
      padding: 0 20px;
   } 
   h1{
      font-size: 40px;
      line-height: 49px;
   }
   /* h2{
   
   }
   h3{
   
   } */
   h4{
      font-size: 20px;
      line-height: 24px;
   }
   h5{
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
   }
   /* h6{
   
   } */
   
   p, .copyright {
      font-size: 12px;
      line-height: 15px;
   }
   .breadcrumb{
      display: none!important;
   }
   input{
      max-width: 100%;
      padding: 14px 16px;
   
   }
   label{
      margin: 11px 0; 
   }
   /* 
   ---------------------------------------------
   global styles
   --------------------------------------------- 
   */
   
   /*HEADER SECTION STYLE START*/
   .app__header{
      .app__header__top{
         display: none!important;
      }
      .app__header__bottom{
         justify-content: space-between;
         gap: 10px;
         
         .navbar-brand{
            img{
               max-width: 130px;
            }
         }

         .mega__menu{
            max-width: 90%;
            margin-left: auto;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9999;
            background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 80%);
            transition-duration: 0.2s;
            transition-property: all;
            transition-delay: 0.2s;
            transition-timing-function: linear;
            .navbar-nav {
               display: flex;
               flex-direction: column;
               flex-wrap: nowrap;
               align-items: end;
               justify-content: start;
               gap: 27px; 
               li{
                  &.nav-item{
                     width: 100%;
                     display: flex;
                     flex-direction: row-reverse;
                     flex-wrap: wrap;
                     align-items: center;
                     justify-content: space-between;

                     &:active{
                        .nav-link{
                           color: $basic_red;
                        }
                        .fa-angle-down{
                           color: $basic_red;
                        }
                     }
                     &:focus{
                        .nav-link{
                           color: $basic_red;
                        }
                        .fa-angle-down{
                           color: $basic_red;
                        }
                     }
                     &:hover{
                        .nav-link{
                           color: $basic_red;
                        }
                        .fa-angle-down{
                           color: $basic_red;
                        }
                     }
                     .nav-link{
                        color: $white_color;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        text-transform: uppercase;
                     }
                     .fa-angle-down{
                        font-size: 20px;
                        color: $white_color;
                     }
                     .dropdown-menu{
                        width: 100%!important;
                        margin-top: 5px!important;
                        position: initial!important;
                        background: $white_color!important;
                           .dropdown-item{
                              color: $text_color!important;
                              &:active{
                                 color: $basic_red!important;
                              }
                              &:hover{
                                 color: $basic_red!important;
                              }
                              &:focus{
                                 color: $basic_red!important;
                              }
                           }
                     }
                  }
                  .exit__btn{
                     display: initial;
                     color: $white_color;
                     &:active{
                        color: $basic_red;
                     }
                     &:focus{
                        color: $basic_red;
                     }
                     &:hover{
                        color: $basic_red;
                     }
                  }
                  &.nav__social{
                     display: flex;
                     margin-right: 0;
                     a{
                        color: $white_color;
                     }
                     a:hover{
                        color: $basic_red;
                     }
                     a:focus{
                        color: $basic_red;
                     }
                     a:active{
                        color: $basic_red;
                     }
                  }
                  .contact__number{
                     display: flex;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 19px;
                     color: $white_color;
                     &:hover{
                        color: $basic_red;
                     }
                     &:focus{
                        color: $basic_red;
                     }
                     &:active{
                        color: $basic_red;
                     }
                     span{
                        color: $white_color;
                     }
                  }
                  .btn{
                     display: initial;
                     background: $white_color;
                     color: $text_color;
                     &:hover{
                        background: $basic_red;
                        color: $white_color;
                     }
                  }
               }
            }
         }
         .contact__number{
            display: none;
         }
         .nav__social{
            margin: 0 20px 0 auto;
         }
         .btn{
            display: initial;
            width: 100%;
            background: $basic_red;
         }
         .navbar-toggler{
            display: initial;
            border: 0;
            padding: 0;
            color: $basic_color;
            font-size: 24px;
            background: transparent;
            &:focus{
               outline: none !important;
               box-shadow: none !important;
            }
            &:active{
               outline: none !important;
               box-shadow: none !important;
            }
         }
      }
   }
   /*HEADER SECTION STYLE END*/


   /*NAVBAR SECTION STYLE START*/
   .app__nav{
      display: none;
   }
   /*NAVBAR SECTION STYLE END*/
   


   /*FOOTER SECTION STYLE START*/
   .app__footer {
      .container-fluid{
         padding: 0;
         .app__footer__top {
            .app__footer__widget{
               .app__footer__widget__list{
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: start;
                  flex-direction: column;
                  gap: 18px;
                  li{
                     .contact__number {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 23px;
                        span {
                           margin: 0 auto;
                           font-size: 16px;
                           line-height: 20px;
                        }
                     }
                     .address__link {
                        font-size: 12px;
                        line-height: 15px;
                     }
                  }
               }

               &:not(:first-child) {
                  display: none;
               }
            }
         }
         .app__footer__bottom{
            padding: 0;
            width: 100%;
            text-align: center;
            .copyrights {
               font-size: 12px;
               line-height: 15px;
            }         
         }
      }
   }
   /*FOOTER SECTION STYLE END*/
      .nav__social{
         gap: 16px;
      }
   }