@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$basic_color: #8081BD;
$basic_yellow: #FDDC4E;
$basic_red: #EA5D4A;
$text_color: #334155;
$white_color: #fff;

:root{
--data-color-basic_color: #{$basic_color};
--data-color-basic_yellow: #{$basic_yellow};
--data-color-basic_red: #{$basic_red};
--data-color-text_color: #{$text_color};
}

/*

Kids story

---------------------------------------------
Table of contents
---------------------------------------------
01. root
02. reset
03. global styles
04. preloader
05. header
06. welcome
07. features
08. contacts banner
09. extra services
10. video gallery
10. advantages
11. command gallery
12. contacts banner
13. about
14. feedbacks
15. location
16. footer
--------------------------------------------- 
*/


/* 
---------------------------------------------
reset
--------------------------------------------- 
*/   




* {
   /*Reset's every elements apperance*/
   border-spacing: 0;
   font-style: normal;
   list-style: none outside none;
   margin: 0;
   padding: 0;
   text-decoration: none;
   text-indent: 0;
   box-sizing: border-box;
 }
 
 html,
 body {
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   background-color: #fff;
   font-size: 16px;
   background-image: url("../images/icons/Vectoraq.png"), url("../images/icons/Groupugr7.png"), url("../images/icons/Vectordsdsd.png");
   background-repeat: no-repeat;
   background-position: bottom right, 0 45%, 50% 45.5%;
   background-size: auto, auto, 100%;
 }
 
 ul, li{
   list-style: none;
 }
 a {
   text-decoration: none!important;
 }
 strong{
   font-weight: 700;
 }
.section{
   width: 100%;
   margin: 3.75em auto;
   border-radius: 20px;
}

.container-fluid{
   max-width: 100%;
   padding: 0;
}
h1{
   font-size: 6rem;
   line-height: 117px;
   font-weight: 700;
}
h2{
   font-size: 2.5rem;
   line-height: 49px;
   font-weight: 700;
}
h3{
   font-size: 2.25rem;
   line-height: 44px;
   font-weight: 600;
}
h4{
   font-size: 2rem;
   line-height: 39px;
   font-weight: 700;
}
h5{
   font-size: 1.25rem;
   line-height: 24px;
   font-weight: 500;
}
h6{
   font-size: 0.875rem;
   line-height: 17px;
   font-weight: 600;
}

p {
   font-weight: 500;
   font-size: 1.25rem;
   line-height: 24px;
}

.breadcrumb{
   margin: 0!important;
}
.breadcrumb__list{
   align-items: center!important;
}


::-webkit-scrollbar {
   display: block;
}
::selection, ::-moz-selection  {
   background: $basic_red; //iwlamadi
   color: $white_color;
}
::marker{
   color: $basic_red;
}
.submit__btn{
   width: fit-content;
   height: 40px;
   padding: 11px 12px 14px;
   background: $basic_color;
   color: $white_color;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   cursor: pointer;
   text-align: center;
   border: none;
   outline: none;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   &:hover{
      color: $white_color;
   }
   &:focus,.btn:active {
      outline: none !important;
      box-shadow: none;
   }
}
.address__link{
   font-weight: 600!important;
   font-size: 12px!important;
   line-height: 15px;
   color: $basic_color!important;
   :hover{
      color: $basic_red;
   }
   span{
      color: rgba(14, 149, 211, 1);
   }
}
.contact__number{
   width: fit-content;
   font-weight: 400;
   font-size: 20px;
   line-height: 19px;
   display: flex;
   align-items: end;
   flex-direction: column;
   column-gap: 0.375em;
   row-gap: 4px;
   font-family: 'Gotham Pro';
   color: $text_color;
   &:hover{
      color: $text_color;
   }
   span{
      font-weight: 700;
      font-size: 10px;
      line-height: 0.75em;
      color: $basic_red;
   }
}
.nav__social{
   display: flex;
   gap: 24px;
   a{
      font-size: 24px;
      color: $basic_red;
      &:hover{
         color: $basic_red;
      }
   }
}


   /* PRELOADDER SECTION STYLE START*/
   #preloader {
      overflow: hidden;
      background-image: linear-gradient(145deg, rgba(128, 129, 189, 1), rgba(128, 129, 189, 1));
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: fixed;
      z-index: 9999;
      color: $white_color;
      .jumper {
         left: 0;
         top: 0;
         right: 0;
         bottom: 0;
         display: block;
         position: absolute;
         margin: auto;
         width: 50px;
         height: 50px;
         div {
            background-color: $white_color;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            position: absolute;
            opacity: 0;
            width: 50px;
            height: 50px;
            -webkit-animation: jumper 1s 0s linear infinite;
            animation: jumper 1s 0s linear infinite;
            &:nth-child(2) {
               -webkit-animation-delay: 0.33333s;
               animation-delay: 0.33333s;
            }
            :nth-child(3) {
               -webkit-animation-delay: 0.66666s;
               animation-delay: 0.66666s;
            }
         }
      }
   }   
   @-webkit-keyframes jumper {
   0% {
   opacity: 0;
   -webkit-transform: scale(0);
   transform: scale(0);
   }
   5% {
   opacity: 1;
   }
   100% {
   -webkit-transform: scale(1);
   transform: scale(1);
   opacity: 0;
   }
   }
   @keyframes jumper {
   0% {
   opacity: 0;
   -webkit-transform: scale(0);
   transform: scale(0);
   }
   5% {
   opacity: 1;
   }
   100% {
   opacity: 0;
   }
   } 
   /*PRELOADDER SECTION STYLE END */


   /*HEADER SECTION STYLE START*/
   .app__header{
      background-color: $white_color;
      position: sticky;
      top: 0px; /*TOP: 0; BOLSA IWLAMIYDI, TOP: 0PX; BOLSA IWLAYDI*/
      z-index: 5;
      .container-fluid{
         .app__header__top{
            width: 100%;
            .address__link{
               text-align: end;
            }
         }
         .app__header__bottom{
            width:100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap:wrap;

            .collapse{
               justify-content: space-between;
               gap: 30px;
               .navbar-nav {
                  gap: 30px;
                  .nav-item, .nav-link{
                     font-weight: 600;
                     font-size: 14px;
                     line-height: 17px;
                     padding: 0;
                     color: $text_color;
                     &.dropdown{
                        position: relative;
                        ::after {
                           display: flex;
                           align-items: center;
                           content: " "!important; //icon kk
                        }
                     }
                     

                     &.close__btn{
                        display: none;
                     }
                     &:active, &:focus, &:hover{
                        color: $basic_color;
                        transition-property: all;
                        transition-timing-function: linear;
                        transition-duration: 0.3s;
                        // .fa-angle-down{
                        //    transition-property: all;
                        //    transition-timing-function: linear;
                        //    transition-duration: 0.3s;
                        //    transform:rotate(180deg);
                        //    -webkit-transform:rotate(180deg);
                        //    -moz-transform:rotate(180deg);
                        //    -ms-transform:rotate(180deg);
                        //    -o-transform:rotate(180deg);
                        // }
                     }

                  .dropdown-menu{
                     min-width: 200px;
                     border: 0;
                     padding: 10px;
                     background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 80%);
                     border-radius: 10px;
                     top: 130%;
                     .dropdown-item{
                        padding: 0;
                        align-items: start;
                        color: $white_color;
                        text-transform: capitalize;
                        font-weight: 500;
                           &:active, &:hover, &:focus{
                              color: $basic_red;
                              background-color: transparent;
                        }
                     }
                  }
               }
            }
            .nav__social{
               display: flex;
            }
            .submit__btn{
               display: initial;
            }
         }
         .nav__social, .submit__btn{
            display: none;
         }
      }
   }
}

   @keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-moz-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-o-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   
   @-ms-keyframes fadeIn {
      0% {opacity:0;}
      25% {opacity:0.25;}
      50% {opacity:0.5;}
      75% {opacity:0.75;}
      100% {opacity:1;}
   }
   /*HEADER SECTION STYLE END*/
   
   /*NAVBAR SECTION STYLE START*/
   .nav__menu{
      align-items: center;
      gap: 4.375em;
      animation-timing-function: linear;
      animation: fadeIn ease 0.7s;
      -webkit-animation: fadeIn ease 0.7s;
      -moz-animation: fadeIn ease 0.7s;
      -o-animation: fadeIn ease 0.7s;
      -ms-animation: fadeIn ease 0.7s;
      display: none;
      width: 100%;
      background: linear-gradient(130.83deg, rgba(83, 84, 136, 0.8) 14.95%, rgba(96, 97, 157, 0.8) 79.77%);
      padding: 1.6875em 0;
      -webkit-animation: fadeIn ease 0.7s;
      .nav-item{
         font-weight: 600;
         font-size: 1.25rem;
         line-height: 1.5em;
         .nav-link{
            padding: 0;
            color: $white_color;
            .active{
               color: $basic_red;
            }
            &:hover, &:focus{
               color: $basic_red;
            }
         }
         
      }
   }
   /*NAVBAR SECTION STYLE END*/


   /*WELCOME BANNER SECTION STYLE START*/
   .welcome__banner__section{
      margin: 0 auto;
      padding: 11em 0 0;
      background: $basic_yellow;
      min-height: 558px;
      background-image: url("../images/icons/noroot 2.png"), url("../images/icons/1614600055_48-p-shkola-na-belom-fone-61 1.png"), url("../images/icons/n.png"), url("../images/icons/Group dots1.png"), url("../images/icons/Ver (1).png"), url("../images/icons/Vect2.png"), url("../images/icons/Vectovv.png");
      background-repeat: no-repeat;
      background-position: 20% 100%, 60% 100%, 30% 100%, 25% 100%, 0 100%, 0 0, 72% 0;
      background-size: auto, auto, auto, auto, auto, auto, auto;
      border-radius: 20px;
      position: relative;
      .container-fluid{
         height: 100%;

         .welcome__banner{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            .carousel{
               width: 71.5%;
               height: 100%;
               position: relative;
               .carousel-inner{
                  .carousel-item{
                     h1, p{
                        color: $text_color;
                     }
                     h1{
                        font-weight: 700;
                        font-size: 96px;
                        line-height: 117px;
                     }
                     p{
                        max-width: 35%;
                        font-weight: 600;
                        font-size: 2.25rem;
                        line-height: 2.75rem;
                     }
                  }
               }
               .owl__navs{
                  display: flex;
                  gap: 35px;
                  .owl__nav{
                     position: initial;
                     &:active, &:focus, &:hover{
                        background: #ffffff85!important;
                        border: 1px solid var(--basic_color)!important;
                     }
                  }
               }
            }
            .banner__form__details{
               width: 28.47%;
               height: 100%;
               background: $basic_color;
               padding: 38px;
               position: absolute;
               right: 0;
               top: 0;
               z-index: 3;
               .form__label, .form__text{
                  width: 100%;
               }
               .form__text{
                  margin: 0.5625em 0 2.0625em;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 17px;
               }
               .banner__form{
                  width: 100%;
                  input{
                     margin: 0;
                     &:last-child{
                        background: $basic_red;
                     }
                  }
               }
            }
         }
      }
   }
   .carousel{
      width: 100%;
      .owl__nav{
         width: 3.75em;
         height: 3.75em;
         background: transparent!important;
         border: 1px solid rgba(51, 65, 85, 1)!important;
         border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         -ms-border-radius: 50%;
         -o-border-radius: 50%;
         position: absolute;
         top: 50%;
         span{
            font-size: 2.25rem;
            font-weight: 400;
            color: $text_color;
         }
         &:focus, &:hover{
            background: #8081BD85!important;
            border: 1px solid var(--basic_color)!important;
         }
      }
   }
   .banner__form__details{
      width: 100%;
      border-radius: 20px;
      padding: 2.5em 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      .form__label, .form__text{
         color: $white_color;
      }
      .form__label{
         width: 50%;
         margin: 0;
      }
      .form__text{
         width: 35%;
         margin: 27px 0 31px;
      }
      .banner__form{
         width: 50%;
         display: flex;
         flex-wrap: wrap;
         gap: 6px;
         input{
            max-width: 308px;
            width: 100%;
            caret-color: $basic_color;
            padding: 14px 20px;
            font-weight: 600;
            font-size: 10px;
            line-height: 12px;
            text-align: start;
            background: $white_color;
            display: inline-block;
         &.submit__btn[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
         }
         &[value]{
            text-align: start;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
         }
         &[value="записаться"]{
            background: $basic_red;
         }
         &:focus, &:focus, &.uneditable-input:focus {
            outline: none;
         }
      }
      .control {
         font-family: arial;
         display: block;
         position: relative;
         padding-left: 30px;
         margin: 1.5em 0;
         color: $white_color;
         font-weight: 600;
         font-size: 10px;
         line-height: 12px;
         cursor: pointer;
         font-size: 10px;
         input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:focus {
               ~ {
                  .control_indicator {
                     background: $white_color;
                  }
               }
            }
            &:checked {
               ~ {
                  .control_indicator {
                     background: $white_color;
                     &:after {
                        display: block;
                     }
                  }
               }
               &:focus {
                  ~ {
                     .control_indicator {
                        background: $white_color;
                     }
                  }
               }
            }
            &:disabled {
               ~ {
                  .control_indicator {
                     background: #e6e6e6;
                     opacity: 0.6;
                     pointer-events: none;
                  }
               }
            }
         }
         &:hover {
            input {
               ~ {
                  .control_indicator {
                     background: $white_color;
                  }
               }
               &:not([disabled]) {
                  &:checked {
                     ~ {
                        .control_indicator {
                           background: $white_color;
                        }
                     }
                  }
               }
            }
         }
      }
      .control_indicator {
         position: absolute;
         top: 2px;
         left: 0;
         height: 20px;
         width: 20px;
         background: $white_color;
         border: 0px solid #000;
         border-radius: undefinedpx;
         &:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
         }
      }
      .control-radio {
         .control_indicator {
            border-radius: 50%;
            &:after {
               left: 4px;
               top: 4px;
               height: 12px;
               width: 12px;
               border-radius: 50%;
               background: $basic_red;
               transition: 250ms;
               -webkit-transition: 250ms;
               -moz-transition: 250ms;
               -ms-transition: 250ms;
               -o-transition: 250ms;
            }
            &::before {
               content: '';
               display: block;
               position: absolute;
               left: 0;
               top: 0;
               width: 4.5rem;
               height: 4.5rem;
               margin-left: -1.3rem;
               margin-top: -1.3rem;
               background: $basic_color;
               border-radius: 3rem;
               opacity: 0.6;
               z-index: 99999;
               transform: scale(0);
            }
         }
         .control_indicator.text__color {
            &:after {
               background: $text_color;
            }
         }
         input {
            &:disabled {
               ~ {
                  .control_indicator {
                     &:after {
                        background: #7b7b7b;
                     }
                  }
               }
            }
            + {
               .control_indicator {
                  &::before {
                     animation: s-ripple 250ms ease-out;
                  }
               }
            }
            &:checked {
               + {
                  .control_indicator {
                     &::before {
                        animation-name: s-ripple-dup;
                     }
                  }
               }
            }
         }
      } 
      }
   }
   /*WELCOME BANNER SECTION STYLE END*/


   /*FEATURES SECTION STYLE START*/
   .section__label {
      margin: 40px 0;
      color: $basic_color;
   }
   .section__text {
      width: 75%;
      margin: 1.5em 0;
      color: $text_color;
   }
   .features {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 1em;
      .features__item {
         flex: 0 32%;
         display: flex;
         flex-wrap: nowrap;
         justify-content: start;
         align-items: center;
         gap: 1em;
         .features__img {
            width: 76px;
            height: 76px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
               width: 50%;
            }
            &:nth-child(1), &:nth-child(5), &:nth-child(9){
               background: $basic_red;
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(8) {
               background: $basic_yellow!important;
            }
         }
         .features__text{
            width: 80%;
            p{
               margin: 0;
               font-size: 16px;
               line-height: 20px;
               color: $text_color;
            }
         }
      }  
   }
   /*FEATURES SECTION STYLE END*/




/*CONTACTS BANNER SECTION STYLE START*/
   .app__first__banner__form{
      border-radius: 20px;
      background: $basic_color;
      background-image: url("../images/icons/Positive_curious_schoolboy_in_casual_wear_looking_at_camera_through 1.png"), url("../images/icons/Group 4.png");
      background-repeat: no-repeat;
      background-position: 75% 0, 95% 50%;
      background-size: auto;
      .banner__form__details{
         input[value="отправить"]{
            background: $basic_yellow;
            color: $text_color;
         }
      }

   }
   .app__second__banner__form{
      border-radius: 20px;
      background: rgba(255, 246, 209, 1);
      background-image: url("../images/icons/norooot.png"), url("../images/icons/Groupss 4.png");
      background-repeat: no-repeat;
      background-position: 75% 0, 95% 50%;
      background-size: auto;
      .banner__form__details{
         .form__label, .form__text, .control{
            color: $text_color;
         }
         input[value="отправить"]{
            background: $basic_red;
            color: $white_color
         }
      }
   }
   .app__third__banner__form{
      border-radius: 20px;
      background: #F3ACC8;
      background-image: url("../images/icons/xxx614600055_48-p-shkola-na-belom-fone-61 1.png"), url("../images/icons/Grouxxxxxxxp 4.png");
      background-repeat: no-repeat;
      background-position: 75% 0, 95% 50%;
      background-size: auto, auto;
      .banner__form__details{
         .form__label, .form__text, .control{
            color: $text_color;
         }
         input[value="отправить"]{
            background: $basic_yellow;
            color: $white_color
         }
      }
   }
/*CONTACTS BANNER SECTION STYLE END*/




   /*EXTRA SERVICES SECTION STYLE START*/
   .extra__services{
      padding: 0;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      gap: 1.8em;
      .extra__services__item{
         flex-grow: 1;
         max-width: 35%;
         .extra__services__item__details{
            width: 100%;
            height: 100px;
            padding: 0.75em 0.8125em;
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            background: #FFF6D1;
            border-radius: 10px;
            .extra__services__item__details__img{
               min-width: 4.75em!important;
               height: 4.75em;
               display: flex;
               align-items: center;
               justify-content: center;
               background: $white_color;
               border-radius: 5px;
               -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
               -ms-border-radius: 5px;
               -o-border-radius: 5px;
               img{
                  width: 65%!important;
               }
            }
            .extra__services__item__details__text{
               text-align: center;
               padding: 0 0 0 20px;
               p{
                  margin: 0;
                  font-weight: 700;
                  font-size: 1rem;
                  color: $text_color;
               }
            }
         }
      }
   }
   /*EXTRA SERVICES SECTION STYLE END*/


   .slider{
      width: 100%;
   }
   .slider{
      .item{
         display: flex!important;
         justify-content: center;
         video{
            width: 80%;
         }
      }
   }
.slick-center{
   video{
      width: 100%;
   }
}

// /*VIDEO GALLERY SECTION STYLE START*/
// .video__gallery__section{
//    background-image: url("../images/icons/Vectjgyor.png"), url("../images/icons/Vectouy7r.png");
//    background-repeat: no-repeat;
//    background-position: 62% 35%, 38% 90%;
//    background-size: auto;
//  }
//  .owl-item .video__gallery__item{
//    min-width: 280px;
//    width: 320px!important;
//    opacity: 0.66;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    margin: 0 auto;
//  }
//  .video__gallery__item video{
//    width: 100%;
//    border-radius: 20px;
//    -webkit-border-radius: 20px;
//    -moz-border-radius: 20px;
//    -ms-border-radius: 20px;
//    -o-border-radius: 20px;
//  }
//  .owl-item.center .video__gallery__item{
//    width: 100%!important;
//    opacity: 1;
//  }
//  .owl-item.center .video__gallery__item video{
//    width: 80%!important;
//  }
//  /*VIDEO GALLERY SECTION STYLE END*/



   /*FOOTER SECTION STYLE START*/
   .app__footer{
      .container-fluid{
         .app__footer__top {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-wrap: wrap;
            .app__footer__widget {
               width: fit-content;
               &:first-child{
                  .app__footer__widget__list{
                     gap: 20px;

                     .contact__number {
                        font-size: 2.5rem;
                        span {
                           margin: 0 auto 0 10%;
                           font-weight: 600;
                           font-size: 1rem;
                           line-height: 1.25rem;
                           color: $text_color;
                        }
                     }
                     .address__link {
                        font-size: 0.875rem;
                        line-height: 1.0625em;
                        color: $text_color;
                     }
                  }
               }
               .app__footer__widget__label {
                  margin: 2.5em 0 1.25em;
                  color: $text_color;
               }
               .app__footer__widget__list{
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  align-items: start;
                  gap: 5px;
                  padding: 0;
                  .app__footer__widget__list__item {
                     .app__footer__widget__list__item__link {
                        color: $text_color;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                     }
                  }
               }
            }
         }
         .app__footer__bottom {
            width: 100%;
            padding: 1em;
            text-align: center;
            .copyrights {
               text-decoration: underline;
            }
         }
      }
   }
   /*FOOTER SECTION STYLE END*/
      
@media (min-width: 0) and (max-width: 599.99px){
   .container-fluid {
      padding: 0;
   } 
   h1{
      font-size: 40px;
      line-height: 49px;
   }
   /* h2{
   
   }
   h3{
   
   } */
   h4{
      font-size: 20px;
      line-height: 24px;
   }
   h5{
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
   }
   /* h6{
   
   } */
   
   p {
      font-size: 12px;
      line-height: 15px;
   }
   // .breadcrumb{
   //    display: none!important;
   // }
   // input{
   //    max-width: 100%;
   //    padding: 14px 16px;
   
   // }
   // label{
   //    margin: 11px 0; 
   // }

   .nav__social{
      gap: 16px;
   }
   .submit__btn{
      width: 100%;
      background: $basic_red;
   }
   /* 
   ---------------------------------------------
   global styles
   --------------------------------------------- 
   */
   
   /*HEADER SECTION STYLE START*/
   .app__header{
      .container-fluid{
         .app__header__top{
            display: none;
         }
         .app__header__bottom{
            gap: 10px;
            .navbar-brand{
               img{
                  max-width: 130px;
               }
            }
            .collapse{
               &.show{
                  max-width: 90%;
                  margin-left: auto;
                  padding: 20px;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  align-items: end;
                  justify-content: start;
                  gap: 25px;
                  background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 80%);
                  position: fixed;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  .navbar-nav {
                     width: 100%;
                     gap: 25px;
                     .nav-item, .nav-link{
                        text-align: end;
                        color: $white_color;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        text-transform: uppercase;
                        &.close__btn{
                           display: initial;
                        }
                        &:active, &:focus, &:hover{
                           color: $basic_red;
                           .fa-angle-down{
                              transition-property: all;
                              transition-timing-function: linear;
                              transition-duration: 0.3s;
                              transform:rotate(180deg);
                              -webkit-transform:rotate(180deg);
                              -moz-transform:rotate(180deg);
                              -ms-transform:rotate(180deg);
                              -o-transform:rotate(180deg);
                           }
                        }
   
                        .dropdown-menu{
                           width: 100%;
                           margin-top: 5px;
                           position: initial;
                           background: $white_color;
                              .dropdown-item{
                                 color: $text_color;
                                 &:active, &:hover, &:focus{
                                    color: $basic_red;
                                 }
                              }
                        }
                     }
                  }
                  .submit__btn{
                     display: initial;
                     background: $white_color;
                     color: $text_color;
                     &:hover{
                        background: $basic_red;
                        color: $white_color;
                     }
                  }
                  .contact__number{
                     order: 3;
                     display: flex;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 19px;
                     color: $white_color;
                     &:active, &:hover, &:focus{
                        color: $basic_red;
                     }
                     span{
                        color: $white_color;
                     }
                  } 
                  .nav__social{
                     order: 4;
                     display: flex;
                     margin-right: 0;
                        a{
                           color: $white_color;
                           &:active, &:hover, &:focus{
                              color: $basic_red;
                           }
                        }
                     }
               }
            }
            .nav__social{
               display: flex;
            }
            .navbar-toggler{
               border: 0;
               padding: 0;
               color: $basic_color;
               font-size: 24px;
               background: transparent;
               &:focus{
                  outline: none;
                  box-shadow: none;
               }
               &:active{
                  outline: none;
                  box-shadow: none;
               }
            }
            .submit__btn{
               display: initial;
            }
         }
      }
   }
   /*HEADER SECTION STYLE END*/


   /*NAVBAR SECTION STYLE START*/
   .app__nav{
      display: none;
   }
   /*NAVBAR SECTION STYLE END*/
   

   /*WELCOME BANNER SECTION STYLE START*/
   .welcome__banner__section{
      padding: 0;
      background: transparent;
      background-image: unset;
      border-radius: unset;
      .container-fluid{
         .welcome__banner{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .carousel{
               width: 100%;
               min-height: 479px!important;
               background: $basic_yellow;
               background-image: url("../images/icons/znoroot 2.png"), url("../images/icons/a1614600055_48-p-shkola-na-belom-fone-61\ 1.png"), url("../images/icons/n.png"), url("../images/icons/Group dots1.png"), url("../images/icons/Ver (1).png"), url("../images/icons/zloe.png"), url("../images/icons/Vectovv.png");
               background-size: auto, auto, 80%, 40%, 50%, 40%, 57%;
               background-repeat: no-repeat;
               background-position: bottom left, bottom right, bottom center, center right, bottom left, center right, top right;
               border-radius: 20px;
               -webkit-border-radius: 20px;
               -moz-border-radius: 20px;
               -ms-border-radius: 20px;
               -o-border-radius: 20px;
               .carousel-inner{
                  .carousel-item{
                     padding: 18px;
                     h1{
                        margin-top: 1.5em;
                        font-size: 40px;
                        line-height: 49px;
                     }
                     p{
                        max-width: 60%;
                        font-size: 14px;
                        line-height: 17px;
                     }
                  }
               }
               .owl__navs{
                  .owl__nav{
                     margin: 16px;
                     position: absolute;
                     top: 0;
                  }
               }
            }
            .banner__form__details{
               width: 100%;
               padding: 32px 18px;
               position: initial;
               min-height: 435px;

               .form__label{
                  margin: 0;
                  font-size: 20px;
                  line-height: 24px;
               }
               .form__text{
                  margin: 11px 0;
                  font-size: 12px;
                  line-height: 15px;
               }
            }
         }
      }
   }
   .carousel{
      width: 100%;
      .owl__nav{
         width: 36.77px;
         height: 36.77px;
         span{
            font-size: 1rem;
         }
      }
   }
   .banner__form__details{
      min-height: 571px;
      .form__label{
         width: 100%;
      }
      .form__text{
         width: 100%;
      }
      .banner__form{
         width: 100%;
         input{
            max-width: 100%;
            &[value="отправить"]{
               order: 3;
            }
         }
         .control{
            order: 2;
         }
      }
   }
   /*WELCOME BANNER SECTION STYLE END*/



   /*FEATURES SECTION STYLE START*/
   .section__label {
      font-size: 24px;
      line-height: 29px;
   }
   .section__text {
      width: 100%;
   }
   .features {
      gap: 15px;
      .features__item {
         width: 45%;
         flex-direction: column;
         gap: 10px;
         .features_img {
            width: 56.86px;
            height: 56.86px;
         }
         .features__text{
            p {
               font-size: 10px;
               line-height: 12px;
               text-align: center;
            } 
         }
      }
   }
   /*FEATURES SECTION STYLE END*/



   /*CONTACTS BANNER SECTION STYLE START*/
   .app__first__banner__form{
      background-position: bottom center, 50% 200%;
      background-size: 67%, 160%;
   }

   .app__second__banner__form{
      background-image: url("../images/icons/norooot.png"), url("../images/icons/Groupss 4.png");
      background-position: bottom center, bottom center;
      background-size: 100%, auto;
   }

   .app__third__banner__form{
      background-position: bottom center, bottom center;
      background-size: 76%, auto;
   }
   /*CONTACTS BANNER SECTION STYLE END*/



/*EXTRA SERVICES SECTION STYLE START*/
.extra__services{
   gap: 9px;
   .extra__services__item{
      max-width: 100%;
      // height: 230px;
      position: relative;
      .extra__services__item__details{
         padding: 9.34px 8.1px;
         height: 73px;
         .extra__services__item__details__img{
            min-width: 55.94px!important;
            height: 55.94px;
            img{
               width: 65%!important;
            }
         }
         .extra__services__item__details__text{
            text-align: start;
            padding: 0 0 0 10px;
            p{
               font-size: 10px;
               line-height: 12px;
            }
         }
      }
   }
}
/*EXTRA SERVICES SECTION STYLE END*/


   /*FOOTER SECTION STYLE START*/
   .app__footer {
      .container-fluid{
         .app__footer__top {
            .app__footer__widget{
               width: 100%;
               .app__footer__widget__list:first-child{
                  align-items: center;
                  li{
                     text-align: center;

                     .navbar-brand{
                        img{
                           max-width: 130px;
                        }
                     }
                     .contact__number {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 23px;
                        span {
                           margin: 0 auto;
                           font-size: 16px;
                           line-height: 20px;
                        }
                     }
                     .address__link {
                        width: 50%;
                        font-size: 12px;
                        line-height: 15px;
                     }
                  }
               }

               &:not(:first-child) {
                  display: none;
               }
            }
         }
         .app__footer__bottom{
            padding: 0;
            width: 100%;
            text-align: center;
            .copyrights {
               font-size: 12px;
               line-height: 15px;
            }         
         }
      }
   }
   /*FOOTER SECTION STYLE END*/
   }
